@import "./style_guide/app_color.css";
@import "./style_guide/app_typography.css";

.tooltip-container {
  background-color: var(--gray-100);
  padding: 16px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

:root .helper-list {
  margin: 0 0 12px 0;
}