/* <!--=============== App typography ===============--> */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --app-font: "Inter";

  --text-s-size: 12px;
  --text-m-size: 14px;
  --text-l-size: 16px;
  --text-xl-size: 16px;
  --text-button-s-size: 14px;
  --text-button-l-size: 16px;
  --text-heading-3-size: 20px;
  --text-heading-2-size: 24px;
  --text-heading-1-size: 32px;

  --text-s-height: 16px;
  --text-m-height: 18px;
  --text-l-height: 20px;
  --text-xl-height: 22px;
  --text-button-s-height: 14px;
  --text-button-l-height: 16px;
  --text-heading-3-height: 26px;
  --text-heading-2-height: 34px;
  --text-heading-1-height: 38px;

  --italic-font-style: italic;
  --semiBold-font-weight: 600;
  --bold-font-weight: bold;
  --underline-text-decoration: underline;
  --uppercase-text-transform: uppercase;

  --text-color: black;
}

/* Text S */
.text-s-regular {
  font-size: var(--text-s-size);
  height: var(--text-s-height);
  color: var(--text-color);
}

.text-s-regular-underline {
  font-size: var(--text-s-size);

  text-decoration: var(--underline-text-decoration);
  height: var(--text-s-height);
  color: var(--text-color);
}

.text-s-italic {
  font-size: var(--text-s-size);

  height: var(--text-s-height);
  font-style: var(--italic-font-style);
  color: var(--text-color);
}

.text-s-semiBold {
  font-size: var(--text-s-size);

  height: var(--text-s-height);
  font-weight: var(--semiBold-font-weight);
  color: var(--text-color);
}

.text-s-bold {
  font-size: var(--text-s-size);
  height: var(--text-s-height);

  font-weight: var(--bold-font-weight);
  color: var(--text-color);
}

.text-s-bold-upercase {
  font-size: var(--text-s-size);
  height: var(--text-s-height);

  font-weight: var(--bold-font-weight);
  text-transform: var(--uppercase-text-transform);
  color: var(--text-color);
}

/* Text L */
.text-l-semi-bold {
  font-size: var(--text-l-size);
  height: var(--text-l-height);
  font-weight: var(--semiBold-font-weight);
  color: var(--text-color);
}

.text-l-regular {
  font-size: var(--text-l-size);
  height: var(--text-l-height);
  color: var(--text-color);
}

.text-l-regular-underline {
  font-size: var(--text-l-size);
  color: var(--text-color);

  text-decoration: var(--underline-text-decoration);
  height: var(--text-l-height);
}

/* Custom color variations */
.text-color-error-500 {
  --text-color: var(--error-500);
}

.text-color-gray-700 {
  --text-color: var(--gray-700);
}

.text-color-link-500 {
  --text-color: var(--link-500);
}
