body {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--gray-50);
}

.forgot-password {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 592px;
  padding: 48px 24px 24px 24px;
  box-sizing: border-box;
  gap: 32px;
  box-shadow: 0px 16px 32px -4px #1018280A;
  border-radius: 16px;
  background-color: var(--white);
}

.forgot-password .title {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.forgot-password .title h1 {
  margin: 0;
  font-size: 32px;
  line-height: 38px;
  font-weight: 700;
  font-family: var(--app-font);
  color: var(--gray-900);
  text-align: center;
}

.forgot-password .separator {
  width: 100%;
  height: 1px;
  background-color: var(--gray-100);
}

.forgot-password .title p {
  margin: 0;
  font-family: var(--app-font);
  text-align: center;
  font-size: 16px;
  line-height: 2px;
  font-weight: 400;
  color: var(--gray-700);
}

.forgot-password .title p span {
  text-decoration: underline;
  cursor: pointer;
}

.forgot-password progress-bar {
  width: 100%;
}

.forgot-password .hint-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-50);
  border-radius: 8px;
  padding: 20px 16px;
  gap: 24px;
  box-sizing: border-box;
}

.forgot-password .hint-container .icon {
  background-image: url("../../assets/icons/mail.svg");
  background-repeat: no-repeat;
  background-size: contain;
  height: 114px;
  width: 100px;
  flex-shrink: 0;
}

.forgot-password .hint-container .content h3 {
  margin: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  color: var(--gray-900);
  font-family: var(--app-font);
}

.forgot-password .hint-container .content ul {
  padding-left: 24px;
  margin: 0;
  margin-top: 12px;
}

.forgot-password .hint-container .content ul li::marker {
  color: var(--gray-700);
}

.forgot-password .hint-container .content p {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-family: var(--app-font);
  color: var(--gray-700);
}

.forgot-password .recover-pass {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 100%;
}


.forgot-password .recover-pass h3 {
  margin: 0;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  font-family: var(--app-font);
  color: var(--gray-900);
  width: 100%;
}

.forgot-password .recovery-email-links-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.forgot-password .recovery-email-links-container .img-container {
  width: 100%;
  height: calc(8vw + 200px);
  max-height: 300px;
  background-color: var(--gray-200);
  border-radius: 4px;
  overflow: hidden;
}

.forgot-password .recovery-email-links-container .content .track-text{
  font-family: var(--app-font);
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  color: var(--gray-900);
  margin: 0;
  width: 100%;
}

.forgot-password .recovery-email-links-container .content {
  width: 100%;
  gap: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.forgot-password .recovery-email-links-container .content .list{
  display: flex;
  gap: 28px;
  width: 100%;
}

.forgot-password .recovery-email-links-container .content .list .left-list,
.forgot-password .recovery-email-links-container .content .list .right-list {
  width: 50%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.forgot-password .recovery-email-links-container .content .list ol {
  width: 100%;
  margin: 0;
  padding-left: 27px;
  gap: 12px;
}

.forgot-password .recovery-email-links-container .content .list ol li::marker {
  font-family: var(--app-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: var(--gray-500);
  /* font-variant-numeric: normal; */
  letter-spacing: 0 !important;
  display: inline-block;
}

.forgot-password .recovery-email-links-container .content .list ol li:not(:last-child) {
  margin-bottom: 12px;
}

.forgot-password .recovery-email-links-container .content .list ol p {
  width: 100%;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: var(--app-font);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  color: var(--gray-700);
}

.forgot-password .recovery-email-links-container .content .list ol div.hide {
  background-color: var(--gray-100);
  border-radius: 2px;
  width: 100%;
  height: 20px;
}

.forgot-password .recovery-email-links-container .content .list ol div.hide p {
  display: none;
}

.forgot-password .recovery-email-links-container.hidden {
  display: none;
}

.forgot-password .qr-code-container {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}

.forgot-password .qr-code-container .img-container {
  border-radius: 8px;
  padding: 24px;
  background-color: var(--primary-100);
}

.forgot-password .qr-code-container .img-container img {
  background-color: var(--white);
  padding: 16px;
  border-radius: 8px;
  width: 154px;
  height: 154px;
  box-sizing: border-box;
  box-shadow: 0px 6px 16px -4px #10182880;
}

.forgot-password .qr-code-container a {
  font-family: var(--app-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  color: var(--gray-700);
}

.forgot-password .qr-code-container.hidden {
  display: none;
}

.forgot-password .faq {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.forgot-password .faq h2 {
  font-family: var(--app-font);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  color: var(--gray-900);
  margin: 0;
}

.forgot-password .faq .accordions {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.forgot-password .footer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.forgot-password .footer p {
  font-family: var(--app-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: var(--gray-700);
}

.forgot-password .footer .tooltip-icon {
  filter: invert(72%) sepia(7%) saturate(33%) hue-rotate(202deg) brightness(91%) contrast(83%);
}

@media (min-width: 629px) {
  .forgot-password {
    padding: 56px 32px 32px 32px;
    margin: 40px 0;
  }
}